.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*View post */

.posts {
    margin: 20px;
    min-width: 440px;
}

.posts_content_cut{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}