.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/*View post */

.posts {
    margin: 20px;
    min-width: 500px;
}

.post {
    margin: 20px 0px;
}

.posts-content-cut {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.expanded-content {
    display: block;
    overflow: visible;
    text-overflow: clip;
}

.clickable-text {
    cursor: pointer;
}

.expand-link-text {
    color: rgb(186, 218, 228);
}

.textarea-resize {
    height: 1rem;
    transition: height 0.2s ease;
}

.image-button {
    width: 47px;
    height: 38px;
    padding: 0;
    border: none;
    background-image: url("/./public/icons/Image_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.image-comment-button {
    width: 30px;
    height: 25px;
    padding: 0;
    border: none;
    background-image: url("/./public/icons/Image_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.send-comment-button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: none;
    background-image: url("/./public/icons/Send_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.comment-button {
    width: 26px;
    height: 22px;
    margin-left: 20px;
    margin-right: 8px;
    border: none;
    background-image: url("http://localhost:3000/icons/Comment_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-button {
    width: 30px;
    height: 30px;
    margin: 30px 25px 30px 0px;
    border: none;
    background-image: url("/./public/icons/Chat_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.goups-icon {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    border: none;
    background-image: url("/./public/icons/Users_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.goups-in-icon {
    width: 30px;
    height: 30px;
    margin: 3px 20px 3px 0px;
    border: none;
    background-image: url("/./public/icons/Users_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.emoji-icon {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    border: none;
    background-image: url("/./public/icons/Emoji_Icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.follow-requests-icon {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 0px;
    border: none;
    background-image: url("/./public/avatars/User_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.notification-button {
    width: 28px;
    height: 33px;
    border: none;
    background-image: url("/./public/icons/Notification_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.notification-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-icon {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("/./public/avatars/User_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.group-icon {
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("/./public/icons/Users_72px.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Create post */

.image-preview {
    margin: 10px;
    overflow: hidden;
}

.image-preview img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox {
    /* Hide the default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    /* Create the custom checkbox design */
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-right: 8px;
}

/* Style the custom checkbox when checked */
.custom-checkbox:checked + .checkmark::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #443a72;
}

.list-group-item-no-border {
    border: none;
    padding: 0;
}

.chat-container {
    height: 60vh;
    min-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #cceaff;
}

textarea {
    resize: none;
}

.messageContainerSent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #cceaff;
}

.messageContainerReceived {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #cceaff;
}

.msgBoxSent {
    background-color: #0099ff;
    color: white;
    padding: 8px;
    order: 1;
    border-radius: 8px;
    display: inline-block;
    max-width: 80%;
    margin-left: 10px;
    overflow-wrap: break-word;
}

.msgBoxReceived {
    background-color: #f0f0f0;
    color: black;
    padding: 8px;
    order: 0;
    border-radius: 8px;
    display: inline-block;
    max-width: 80%;
    margin-right: 10px;
    overflow-wrap: break-word;
}

/* Groups */
.close {
    font-size: 24px;
    color: black;
    opacity: 0.7;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.close:hover {
    opacity: 1;
}

/* Apply this CSS to the scrollable element */
.scrollable-element {
    max-height: 95vh; /* Set a maximum height or adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px; /* Add padding for spacing (optional) */
    direction: rtl;
    width: 100%;
}

/* Hide the default scrollbar */
.scrollable-element::-webkit-scrollbar {
    width: 0.1;
}
